@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0.25rem;
  text-align: center;
  background: rgb(232, 225, 86);
  background-image: url(./logo.jpg);
  overflow-x: hidden;
}

h1,
h2 {
  font-family: 'Roboto Slab', sans-serif;
  margin: 0;
}

a {
  color: rgb(232, 225, 86);
}

div#pic {
  position: relative;
  top: 30vh;
  animation: growspin 3s linear infinite;
}

section#ending {
  position: relative;
  top: 60vh;
}

section {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(151, 20, 154, 0.9);
  background: rgba(36, 28, 36, 0.9);
  color: white;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  body {
    padding: 1rem;
  }

  section {
    padding: 1.5rem;
    border-radius: 1rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }
}

@keyframes growspin {
  0% {
    transform: none;
  }
  25% {
    transform: rotate(1turn) scale(1.25);
  }
  30% {
    transform: rotate(0turn) scale(1) translateY(-1rem);
  }
  50% {
    transform: rotate(0.125turn) scale(2) translateY(-2rem);
  }
  70% {
    transform: rotate(-1.125turn) scale(1.25) translateY(2rem);
  }
  100% {
    transform: none;
  }
}
